/* -----google poppins font---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
  
}

/* -----header style---- */
header {
    max-width: 1440px;
    padding: 2% 50px;
    margin: 50px auto;
    
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
}

ul {
    display: flex;
    justify-content: space-around;
}

.anchor {
    margin-right: 30px;
    list-style: none;

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}



.main-title {
    
    height: 133px;
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;
    margin:30px 0px;
    
}
.title-description{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    margin:16px;

}
.btn-primary{
    border-radius: 41px;
    border: 0;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
}
.sponsors{
    width: 1140px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    
}








